<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--GOBIX Test ARP -->
    <add key="GOBIX_ConectionString" value="oV7XeEnfQ3Pc8i4WfgmVyFRDoMJ0yG7N3Y1n5vqiY1ZwrkMvbiYbUBrCsgSwLYzXvf7AJaxv5a1CIZuNlbOkk8crlx9m7qt2hLGRC5dRZREgEQBHG4Z8vkdxtEQUHSLW"/>
    <!-- SQL Produccion -->
    <!--<add key="GOBIX_ConectionString" value="oV7XeEnfQ3ObbvUGK92rGJDBSs4EY8m6+wBeiivbVXVPmI2K6NlC48S/7BihXO5VQ1CLo34aV5Ydh74aBj4bXDO4H8HoNKzy2R8Lj/ctn41ex2VBbw+YKA==" />-->


    <add key="GOBIX_DatePatter" value="dd/MM/yyyy" /> 
    <!--<add key="GOBIX_DownLoadftpServerIPRdval" value="app.rdval.com.do" />-->
    <add key="GOBIX_DownLoadftpServerIPRdval" value="rdvalc1.rubypanel.com" />              <!-- CAMBIO SFTP 04-02-2020-->
    <!--<add key="GOBIX_DownLoadftpUserIDRdval" value="vector_bolsa@app.rdval.com.do" /-->
    <add key="GOBIX_DownLoadftpUserIDRdval" value="vectorbolsa" />                          <!-- CAMBIO SFTP 04-02-2020-->
    <!--<add key="GOBIX_DownLoadftpPasswordRdval" value="Usnq3FI/o4GCwSaYk3hx8/xI/vlsc5LW" />-->
    <add key="GOBIX_DownLoadftpPasswordRdval" value="os+MoodDQGuqzsSmOuao8qoY38wuvLBH" />   <!-- CAMBIO SFTP 04-02-2020-->
    <add key="GOBIX_DownLoadftpServerIP" value="bvrd.com.do" />
    <add key="GOBIX_DownLoadftpUserID" value="pipca@bvrd.com.do" />
    <add key="GOBIX_DownLoadftpPassword" value="gftb+HOe5dm3hTXPP8u/ZQ==" /> 
    <add key="GOBIX_DownLoadftpPort" value="21" />
    <add key="GOBIX_UpLoadftpServerIP" value="bvrd.com.do" />
    <add key="GOBIX_UpLoadftpUserID" value="indice@bvrd.com.do" />
    <add key="GOBIX_UpLoadftpPassword" value="OmtmOl5R4THDWKsZ53Lixw==" />
    <add key="GOBIX_UpLoadftpPort" value="21" />
    <add key="GOBIX_UpLoadftpPatch" value="Data" />
    <add key="GOBIX_FilesExtensions" value="*.txt" />
    <add key="GOBIX_SearchPatter" value="VectorPreciosRD_" />
    <add key="GOBIX_ErrorFiles" value="\\app\Public\BVRDConsole\GobixDR\Files\Errors" />
    <add key="GOBIX_FilePatch" value="\\app\Public\BVRDConsole\GobixDR\Files" />
    <add key="GOBIX_SuccessFiles" value="\\app\Public\BVRDConsole\GobixDR\Files\Succes" />
    <add key="GOBIX_GobixDataPatch" value="\\app\Public\BVRDConsole\GobixDR\Data\" />
    <add key="GOBIX_GobixURL" value="http://index.bvrd.com.do:8090/gobix_frontend/Dashboard.htm?BVRD=1" />
    <!--<add key="GOBIX_GobixUpdateURL" value="http://index.bvrd.com.do:8090/batchscriptweb/"/>-->
    <add key="GOBIX_GobixUpdateURL" value="" />

    <!-- SIV  PRODUCCION -->
    <!--<add key="SIV_ConectionString" value="oV7XeEnfQ3ObbvUGK92rGJDBSs4EY8m6+wBeiivbVXVPmI2K6NlC4+fckZTgl4LoiWdQB4BTcQMRU7iAsyEVyB2HvhoGPhtcM7gfweg0rPLZHwuP9y2fjV7HZUFvD5go"/>--> 
    
    <!-- SQL DESARROLLO -->
    <add key="SIV_ConectionString" value="6ntuN1p7HUxnnVgHIJWGxsFaiJYIn/d6bQDKWVTAWeT7UfkOd1ssUa5ayghkR9HTgWESlXKv1xUt8JRm/nxt42PWNIYke/k+rYHBSkcTjrCjyHik/ZSYVUht1NJax+YL" />

    <add key="SIV_DatePatter" value="dd/MM/yyyy" />
    <add key="SIV_DownLoadftpServerIP" value="bvrd.com.do" />
    <add key="SIV_DownLoadftpUserID" value="bvrdsivdata@bvrd.com.do" />
    <add key="SIV_DownLoadftpPassword" value="H35AzZmZ+JRGmdPETh6twg=="/>  
    <add key="SIV_DownLoadftpPort" value="21" />
    <!--<add key="SIV_UpLoadftpServerIP" value="ftp.rdval.com.do" />
    <add key="SIV_UpLoadftpUserID" value="bvrdconsole@app.rdval.com.do" />    
    <add key="SIV_UpLoadftpPassword" value="NFyT7VqWEs61M+nqgNDfsBv/op4ttKOc" />-->
    <add key="SIV_UpLoadftpServerIP" value="rdvalc1.rubypanel.com" />            <!-- CAMBIO SFTP 04-02-2020 -->
    <add key="SIV_UpLoadftpUserID" value="bvrdconsole@rdvalc1.rubypanel.com" />  <!-- CAMBIO SFTP 04-02-2020 -->    
    <add key="SIV_UpLoadftpPassword" value="thc135iNEK7KcUjPAYyfU57uDM5ggyJt" /> <!-- CAMBIO SFTP 04-02-2020 --> 
    <add key="SIV_UpLoadftpPort" value="21" />
    <add key="SIV_UpLoadftpPatch" value="" />
    <add key="SIV_FilesExtensions" value="*.xml" />
    <add key="FilesExtensionsBancos" value="*.csv" />
    <add key="SIV_SearchPatter" value="Transacciones_BVRD" />
    <add key="SIV_SearchPatterBancos" value="Transacciones_bancos" />
    <add key="SIV_ErrorFiles"   value="\\apms\BVRDConsole_OTC\SIV_OTC\Files\Errors" />
    <add key="SIV_FilePatch"    value="\\apms\BVRDConsole_OTC\SIV_OTC\Files" />
    <add key="FilePatchBancos"    value="\\apms\BVRDConsole_OTC\BANCO_OTC" />
    <add key="SIV_SuccessFiles" value="\\apms\BVRDConsole_OTC\SIV_OTC\Files\Succes" />
    <add key="SIV_SivDataPatch" value="\\apms\BVRDConsole_OTC\SIV_OTC\Data" />
    <add key="SIV_OutputFileMask" value="HechosOTC_RD{0}.xml" />
    <!-- CEVELDOM -->
    <!-- GENERAL -->
    <add key="SecurityKey" value="BVRD@2015$8095676694" />
    <add key="AppDomain" value="BVRD.LOCAL" />
    <add key="AttemptsCounts" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
